<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="Barberia de ponce`s">
	<meta name="keywords" content="barberi,barbershop,ponce,barberia de alvaro">
	<meta name="author" content="Dominyel Rivera">
	<link rel="icon" href="{% static 'img/about-logo.png' %}" sizes="any" type="image/png">
	<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/cd95702beb.js" crossorigin="anonymous"></script>
	<!-- CSS only -->
	<link rel="icono" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<title>BarberShop :D Ponce`s</title>
</head>
{% include 'header.html' %}
{% block body %}
{% endblock body %}
</html>